-- MySQL dump 10.13  Distrib 8.0.44, for Linux (x86_64)
--
-- Host: localhost    Database: GESTION_PROYECTOS
-- ------------------------------------------------------
-- Server version	8.0.44

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `Cliente`
--

DROP TABLE IF EXISTS `Cliente`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Cliente` (
  `id_cliente` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `contacto` varchar(100) DEFAULT NULL,
  `email` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`id_cliente`),
  UNIQUE KEY `email` (`email`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Cliente`
--

LOCK TABLES `Cliente` WRITE;
/*!40000 ALTER TABLE `Cliente` DISABLE KEYS */;
INSERT INTO `Cliente` VALUES (1,'TechSolutions S.L.','Ana Mart├â┬¡nez','ana.martinez@techsolutions.com'),(2,'Banco Futuro','Carlos Ruiz','carlos.ruiz@bancofuturo.es'),(3,'StartUp Innova','Luc├â┬¡a G├â┬│mez','lucia.gomez@innova.io');
/*!40000 ALTER TABLE `Cliente` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Personal_equipo`
--

DROP TABLE IF EXISTS `Personal_equipo`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Personal_equipo` (
  `id_personal` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(100) NOT NULL,
  `email` varchar(100) NOT NULL,
  `id_proyecto` int NOT NULL,
  `id_rol` int NOT NULL,
  PRIMARY KEY (`id_personal`),
  KEY `id_proyecto` (`id_proyecto`),
  KEY `id_rol` (`id_rol`),
  CONSTRAINT `Personal_equipo_ibfk_1` FOREIGN KEY (`id_proyecto`) REFERENCES `Proyecto` (`id_proyecto`),
  CONSTRAINT `Personal_equipo_ibfk_2` FOREIGN KEY (`id_rol`) REFERENCES `Rol` (`id_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Personal_equipo`
--

LOCK TABLES `Personal_equipo` WRITE;
/*!40000 ALTER TABLE `Personal_equipo` DISABLE KEYS */;
INSERT INTO `Personal_equipo` VALUES (1,'Juan P├â┬®rez','juan.dev@consultora.com',1,2),(2,'Mar├â┬¡a L├â┬│pez','maria.ops@consultora.com',1,4),(3,'Roberto D├â┬¡az','roberto.pm@consultora.com',2,1),(4,'Elena Nito','elena.front@consultora.com',3,3),(5,'Sof├â┬¡a Test','sofia.qa@consultora.com',2,5);
/*!40000 ALTER TABLE `Personal_equipo` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Proyecto`
--

DROP TABLE IF EXISTS `Proyecto`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Proyecto` (
  `id_proyecto` int NOT NULL AUTO_INCREMENT,
  `nombre` varchar(150) NOT NULL,
  `descripcion` text,
  `fecha_inicio` date DEFAULT NULL,
  `fecha_fin` date DEFAULT NULL,
  `id_cliente` int NOT NULL,
  PRIMARY KEY (`id_proyecto`),
  KEY `id_cliente` (`id_cliente`),
  CONSTRAINT `Proyecto_ibfk_1` FOREIGN KEY (`id_cliente`) REFERENCES `Cliente` (`id_cliente`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Proyecto`
--

LOCK TABLES `Proyecto` WRITE;
/*!40000 ALTER TABLE `Proyecto` DISABLE KEYS */;
INSERT INTO `Proyecto` VALUES (1,'Migraci├â┬│n Cloud','Migraci├â┬│n de infraestructura a AWS','2025-01-10','2025-06-20',1),(2,'App Banca M├â┬│vil','Nueva app con autenticaci├â┬│n biom├â┬®trica','2024-11-01','2025-12-01',2),(3,'Web Corporativa','Redise├â┬▒o completo del portal','2025-02-01','2025-04-01',3),(4,'Migraci├│n Cloud','','2025-11-20',NULL,1);
/*!40000 ALTER TABLE `Proyecto` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Rol`
--

DROP TABLE IF EXISTS `Rol`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Rol` (
  `id_rol` int NOT NULL AUTO_INCREMENT,
  `nombre_rol` varchar(50) NOT NULL,
  PRIMARY KEY (`id_rol`),
  UNIQUE KEY `nombre_rol` (`nombre_rol`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Rol`
--

LOCK TABLES `Rol` WRITE;
/*!40000 ALTER TABLE `Rol` DISABLE KEYS */;
INSERT INTO `Rol` VALUES (2,'Backend Developer'),(4,'DevOps Engineer'),(3,'Frontend Developer'),(1,'Project Manager'),(5,'QA Tester');
/*!40000 ALTER TABLE `Rol` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `Tarea`
--

DROP TABLE IF EXISTS `Tarea`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Tarea` (
  `id_tarea` int NOT NULL AUTO_INCREMENT,
  `titulo` varchar(150) NOT NULL,
  `descripcion` text,
  `prioridad` int DEFAULT '3',
  `estado` enum('pendiente','en_progreso','bloqueada','hecha') DEFAULT 'pendiente',
  `fecha_vencimiento` date DEFAULT NULL,
  `fecha_creacion` datetime DEFAULT CURRENT_TIMESTAMP,
  `fecha_actualizacion` datetime DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `id_proyecto` int NOT NULL,
  `id_responsable` int DEFAULT NULL,
  PRIMARY KEY (`id_tarea`),
  KEY `id_proyecto` (`id_proyecto`),
  KEY `id_responsable` (`id_responsable`),
  CONSTRAINT `Tarea_ibfk_1` FOREIGN KEY (`id_proyecto`) REFERENCES `Proyecto` (`id_proyecto`),
  CONSTRAINT `Tarea_ibfk_2` FOREIGN KEY (`id_responsable`) REFERENCES `Personal_equipo` (`id_personal`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Tarea`
--

LOCK TABLES `Tarea` WRITE;
/*!40000 ALTER TABLE `Tarea` DISABLE KEYS */;
/*!40000 ALTER TABLE `Tarea` ENABLE KEYS */;
UNLOCK TABLES;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_tarea_estado_valido` BEFORE UPDATE ON `Tarea` FOR EACH ROW BEGIN
    -- Ejemplo: Impedir pasar de 'hecha' a cualquier otro estado
    IF OLD.estado = 'hecha' AND NEW.estado != 'hecha' THEN
        SIGNAL SQLSTATE '45000' SET MESSAGE_TEXT = 'No se puede modificar una tarea ya hecha.';
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;
/*!50003 SET @saved_cs_client      = @@character_set_client */ ;
/*!50003 SET @saved_cs_results     = @@character_set_results */ ;
/*!50003 SET @saved_col_connection = @@collation_connection */ ;
/*!50003 SET character_set_client  = latin1 */ ;
/*!50003 SET character_set_results = latin1 */ ;
/*!50003 SET collation_connection  = latin1_swedish_ci */ ;
/*!50003 SET @saved_sql_mode       = @@sql_mode */ ;
/*!50003 SET sql_mode              = 'ONLY_FULL_GROUP_BY,STRICT_TRANS_TABLES,NO_ZERO_IN_DATE,NO_ZERO_DATE,ERROR_FOR_DIVISION_BY_ZERO,NO_ENGINE_SUBSTITUTION' */ ;
DELIMITER ;;
/*!50003 CREATE*/ /*!50017 DEFINER=`root`@`localhost`*/ /*!50003 TRIGGER `trg_log_cambios_tarea` AFTER UPDATE ON `Tarea` FOR EACH ROW BEGIN
    IF OLD.estado != NEW.estado THEN
        INSERT INTO Tarea_Log (id_tarea, campo_modificado, valor_anterior, valor_nuevo)
        VALUES (NEW.id_tarea, 'estado', OLD.estado, NEW.estado);
    END IF;
    
    IF OLD.prioridad != NEW.prioridad THEN
        INSERT INTO Tarea_Log (id_tarea, campo_modificado, valor_anterior, valor_nuevo)
        VALUES (NEW.id_tarea, 'prioridad', OLD.prioridad, NEW.prioridad);
    END IF;
END */;;
DELIMITER ;
/*!50003 SET sql_mode              = @saved_sql_mode */ ;
/*!50003 SET character_set_client  = @saved_cs_client */ ;
/*!50003 SET character_set_results = @saved_cs_results */ ;
/*!50003 SET collation_connection  = @saved_col_connection */ ;

--
-- Table structure for table `Tarea_Log`
--

DROP TABLE IF EXISTS `Tarea_Log`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `Tarea_Log` (
  `id_log` int NOT NULL AUTO_INCREMENT,
  `id_tarea` int DEFAULT NULL,
  `campo_modificado` varchar(50) DEFAULT NULL,
  `valor_anterior` varchar(255) DEFAULT NULL,
  `valor_nuevo` varchar(255) DEFAULT NULL,
  `fecha_cambio` datetime DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id_log`)
) ENGINE=InnoDB AUTO_INCREMENT=2 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `Tarea_Log`
--

LOCK TABLES `Tarea_Log` WRITE;
/*!40000 ALTER TABLE `Tarea_Log` DISABLE KEYS */;
INSERT INTO `Tarea_Log` VALUES (1,1,'estado','pendiente','en_progreso','2025-11-20 10:01:38');
/*!40000 ALTER TABLE `Tarea_Log` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Temporary view structure for view `v_resumen_proyecto`
--

DROP TABLE IF EXISTS `v_resumen_proyecto`;
/*!50001 DROP VIEW IF EXISTS `v_resumen_proyecto`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_resumen_proyecto` AS SELECT 
 1 AS `id_proyecto`,
 1 AS `nombre`,
 1 AS `total_tareas`,
 1 AS `tareas_hechas`,
 1 AS `porcentaje_avance`*/;
SET character_set_client = @saved_cs_client;

--
-- Temporary view structure for view `v_tareas_proyecto`
--

DROP TABLE IF EXISTS `v_tareas_proyecto`;
/*!50001 DROP VIEW IF EXISTS `v_tareas_proyecto`*/;
SET @saved_cs_client     = @@character_set_client;
/*!50503 SET character_set_client = utf8mb4 */;
/*!50001 CREATE VIEW `v_tareas_proyecto` AS SELECT 
 1 AS `id_tarea`,
 1 AS `proyecto`,
 1 AS `cliente`,
 1 AS `titulo`,
 1 AS `estado`,
 1 AS `prioridad`,
 1 AS `responsable`,
 1 AS `fecha_vencimiento`*/;
SET character_set_client = @saved_cs_client;

--
-- Final view structure for view `v_resumen_proyecto`
--

/*!50001 DROP VIEW IF EXISTS `v_resumen_proyecto`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_resumen_proyecto` AS select `p`.`id_proyecto` AS `id_proyecto`,`p`.`nombre` AS `nombre`,`fn_total_tareas_proyecto`(`p`.`id_proyecto`) AS `total_tareas`,(select count(0) from `Tarea` `t2` where ((`t2`.`id_proyecto` = `p`.`id_proyecto`) and (`t2`.`estado` = 'hecha'))) AS `tareas_hechas`,`fn_porcentaje_tareas_hechas`(`p`.`id_proyecto`) AS `porcentaje_avance` from `Proyecto` `p` */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;

--
-- Final view structure for view `v_tareas_proyecto`
--

/*!50001 DROP VIEW IF EXISTS `v_tareas_proyecto`*/;
/*!50001 SET @saved_cs_client          = @@character_set_client */;
/*!50001 SET @saved_cs_results         = @@character_set_results */;
/*!50001 SET @saved_col_connection     = @@collation_connection */;
/*!50001 SET character_set_client      = latin1 */;
/*!50001 SET character_set_results     = latin1 */;
/*!50001 SET collation_connection      = latin1_swedish_ci */;
/*!50001 CREATE ALGORITHM=UNDEFINED */
/*!50013 DEFINER=`root`@`localhost` SQL SECURITY DEFINER */
/*!50001 VIEW `v_tareas_proyecto` AS select `t`.`id_tarea` AS `id_tarea`,`p`.`nombre` AS `proyecto`,`c`.`nombre` AS `cliente`,`t`.`titulo` AS `titulo`,`t`.`estado` AS `estado`,`t`.`prioridad` AS `prioridad`,`pe`.`nombre` AS `responsable`,`t`.`fecha_vencimiento` AS `fecha_vencimiento` from (((`Tarea` `t` join `Proyecto` `p` on((`t`.`id_proyecto` = `p`.`id_proyecto`))) join `Cliente` `c` on((`p`.`id_cliente` = `c`.`id_cliente`))) left join `Personal_equipo` `pe` on((`t`.`id_responsable` = `pe`.`id_personal`))) */;
/*!50001 SET character_set_client      = @saved_cs_client */;
/*!50001 SET character_set_results     = @saved_cs_results */;
/*!50001 SET collation_connection      = @saved_col_connection */;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2025-11-20 11:28:04
